{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="page">
	{{!-- <header>
		<nav class="nav">
			<button class="button">
				<img width="24px" height="24px" src="/svg/arrow.svg">
			</button>
			<button class="button">
				<img width="24px" height="24px" src="/img/icon.png" alt="icon">
			</button>

		</nav>


	</header> --}}
	{{!-- <h1 class="title">
		Мій блог
	</h1> --}}
	{{!--
	<main>
		<div class="card button">
			<div class="header_card">
				<div class="card__status">
					<span class="card--status important">
						Важливо
					</span>
					<span class="card--status new">
						Нова
					</span>
				</div>
				<div class="data"><span class="post__date">25.01</span></div>

			</div>
			<div class="content">
				<span>
					До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
				</span>
			</div>
		</div>

		<div class="card button viewed">
			<div class="header_card">
				<div class="card__status">
					<span class="card--status important">
						Важливо
					</span>
					<span class="card--status new">
						Нова
					</span>
				</div>
				<div class="data"><span class="post__date">15.01</span></div>

			</div>
			<div class="content">
				<span>
					Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак самопрезентацій.
				</span>
			</div>
		</div>
		<div class="card button">
			<div class="header_card">
				<div class="card__status">
					<span class="card--status important">
						Важливо
					</span>
					<span class="card--status new">
						Нова
					</span>
				</div>
				<div class="data"><span class="data">25.01</span></div>

			</div>
			<div class="content">
				<span>
					До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
				</span>
			</div>
		</div>
	</main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}